@charset "UTF-8";

html {
    background-image: url(imagens/wp12416934.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

div.container {
    background-color: white;
    max-width: 1100px;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

header {
    text-align: center;
}

header > h1 {
    font-size: 40px;
}

header > p {
    font-style: italic;
}

header > figure {
    text-align: center;
    margin-top: 30px;
}

main {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed rgba(255, 0, 0, 0.249);
    border-bottom: 1px dashed rgba(255, 0, 0, 0.249);
}

article {
    background-color: rgba(255, 0, 0, 0.238);
}

article > blockquote {
    font-weight: bold;
    font-size: 30px;
}

article > p {
    font-style: italic;
    font-size: 20px;
    padding: 0px 15px;
}

section {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed rgba(255, 0, 0, 0.238);
    border-bottom: 1px dashed rgba(255, 0, 0, 0.238);
}

section > li {
    height: 30px;
}

footer > figure {
    font-weight: bold;
    text-align: center;
}